@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", "Montserrat", "Raleway", "Roboto", sans-serif;
  background: rgb(52, 14, 97);
  /* min-height: 100vh; */
  /* position: relative; */
  background: linear-gradient(
    0deg,
    rgba(52, 14, 97, 1) 44%,
    rgba(16, 4, 44, 1) 100%
  );
}

.background {
  min-height: 100vh;
  position: relative;
  padding-bottom: 150px;
}

.background-auth {
  background: rgb(52, 14, 97);
  /* background-image: linear-gradient(0deg, rgba(52,14,97,1) 44%, rgba(16,4,44,1) 100%), url("/2500x1900.jpg"); */
  /* background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7) ), url("/2500x1900.jpg"); */
  background: linear-gradient(
    0deg,
    rgba(52, 14, 97, 1) 44%,
    rgba(16, 4, 44, 1) 100%
  );
  background-image: linear-gradient(
      rgba(16, 4, 44, 0.829),
      rgba(51, 14, 97, 0.575)
    ),
    url("/Background_Landing.jpeg");
  /* opacity: 0.7; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-home {
  background: linear-gradient(
    0deg,
    rgba(52, 14, 97, 1) 44%,
    rgba(16, 4, 44, 1) 100%
  );
}

.btn-primary {
  @apply bg-violet-600 hover:bg-violet-800 text-white py-2 px-4 rounded-lg transition-all;
}

/* spinner */

.spinner {
  display: flex;
  justify-content: center;
  margin: 30px;
  color: rgb(201, 194, 194);
}

.spinning {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/*slider*/

/* .slick-prev,
.slick-next {
  display: none; 

}
@media screen and (min-width: 768px) {
  .slick-prev,
.slick-next {
  display: block; 

}
 
} */

.slick-disabled {
  /* display: none !important; */
  cursor: default !important;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0;
}

.navbar-active {
  background: rgba(0, 0, 0, 0.8);
}

.background-sidebar {
  background: rgb(52, 14, 97);
  background: linear-gradient(
    0deg,
    rgba(52, 14, 97, 1) 44%,
    rgba(0, 0, 0, 1) 100%
  );
}
